<html>
<head>
-{$xajax_functions}-
<script type="text/javascript">
    //<![CDATA[
    window.onload = function() {xajax_LoadServers('-{$check}-', '-{$type}-');}
    var srvcount = 0;
    function set_counter(count)
    {
        srvcount += count;
        if(srvcount==-{$total}- || count=='-1') {
            parent.document.getElementById('dialog-control').innerHTML = 
                    "<font color=\"green\" style=\"font-size: 12px;\"><b>-{t section="admin/bans" message="Done searching."}-</b></font>"
                    +parent.document.getElementById('dialog-control').innerHTML;
            parent.document.getElementById('dialog-control').setStyle('display', 'block');
            setTimeout("parent.document.getElementById('dialog-placement').setStyle('display', 'none');",5000);
            setTimeout("window.location='../index.php?p=admin&c=bans'",5000);
        }
    }
    parent.document.getElementById('dialog-control').setStyle('display', 'none');
    if(document.all) {
        parent.document.all["srvkicker"].height = document.all["container"].offsetHeight + 10;
    }
    else {
        parent.document.getElementById("srvkicker").height = document.documentElement.clientHeight;
    }
    //]]>
</script>
<style type="text/css">
    body {
        background-repeat: repeat-x;
        color: #444;
        font-family: Verdana, Arial, Tahoma, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
        font-size: 11px;
        line-height: 135%;
        margin: 5px;
        padding: 0px;
    }
</style>
</head>
<body>
    <div id="container" name="container">
        <h3 style="font-size: 12px;">
            -{t section="admin/bans" message="Searching for the player on all servers..."}-
        </h3>
        <table border="0">
            -{foreach from=$servers item=serv}-
            <tr>
                <td>
                    <div id="srvip_-{$serv.num}-">
                        <font size="1">
                        -{$serv.ip}-:-{$serv.port}-
                        </font>
                    </div>
                </td>
                <td>
                    <div id="srv_-{$serv.num}-">
                        <font size="1">
                            -{t section="admin/bans" message="Waiting..."}-
                        </font>
                    </div>
                </td>
            </tr>
            -{/foreach}-
        </table>
    </div>
</body>
</html>