            </ul>
        </div>
	</div>
    <div id="innerwrapper">
        <div id="navigation">
            <div id="nav"></div>
            <div id="search">
                <form method="get" action="index.php">
                    <input type="hidden" name="p" value="banlist" />
                    <input
                        class="searchbox"
                        alt="Search Keywords"
                        name="searchText"
                        type="text"
                        onfocus="this.value='';"
                        onblur="if (this.value=='') {this.value='<!--{t section="layout" message="Search Bans..."}-->';}"
                        value="<!--{t section="layout" message="Search Bans..."}-->" />
                    <input type="submit" name="Submit" value="" style="cursor:pointer;" class="button" />
                </form>
            </div>
        </div>